{
  "module": {
    "_{{ module_name }}": {
      "source": "{{ source }}",
      "name": "{{ group['name'] }}",
      "description": "{{ group['description'] }}",
      "parent_group": "${local.parent_name}",
      "visibility": "{{ group['visibility'] }}",
      "default_branch": "main",
      "avatar":"{{ group['avatar'] }}",
      {% if group['labels'] | length > 0 %}
      "labels": {
      {% for l in group['labels'] %}
        "{{ l['title'] }}": {
          "description": "{{ l['description'] }}",
          "color": "{{ l['color'] }}"
        }{% if not loop.last %},{% endif %}
      
      {% endfor %}
      },
      {% else %}
      "labels": {},
      {% endif %}

      {% if group['badges'] | length > 0 %}
      "badges": {
      {% for b in group['badges'] %}
        "{{ b['name'] }}": {
          "link_url": "{{ b['link_url'] }}",
          "image_url": "{{ b['image_url'] }}"
        }{% if not loop.last %},{% endif %}
      
      {% endfor %}
      },
      {% else %}
      "badges": {},
      {% endif %}

      {% if group['variables'] | length > 0 %}
      "variables": {
      {% for v in group['variables'] %}
        "{{ v['key'] }}": {
          "description": "{{ v['description'] }}",
          "value": "{{ v['value'] }}",
          "protected": {{ v['protected'] | lower }},
          "masked": {{ v['masked'] | lower }},
          "environmentScope": "{{ v['environmentScope'] }}"
        }{% if not loop.last %},{% endif %}
      
      {% endfor %}
      }
      {% else %}
      "variables": {}
      {% endif %}
    },
    "{{ group['name'].replace(".", "_") }}": {
      "source": "./{{ group['name'] }}/"
    }
  }
}
